include ../profile-head/profile-head
include ../profile-about/profile-about
include ../profile-experience/profile-experience
include ../profile-reviews/profile-reviews
include ../profile-schedule/profile-schedule
include ../_ui/button/button

mixin tutor(login, payed)
  section.tutor.container
    .tutor__wrapper.wrapper
      main.tutor__main
        .tutor__head
          +profile-head('tutor')
          .tutor__head-actions
            .tutor__actions
              .tutor__actions-info
                if login
                  .tutor__rating.tutor__rating--empty
                    p.tutor__rating-rate 0.0
                    p.tutor__rating-reviews (0 отзывов)
                else
                  .tutor__rating
                    p.tutor__rating-rate 4.9
                    p.tutor__rating-reviews (50 отзывов)
                .tutor__cost
                  p.tutor__cost-value <span class="js-profile-cost">1000</span> &#8381;
                  p.tutor__cost-desc в час
              if payed
                .tutor__contacts
                  p.tutor__contacts-heading Свяжитесь с репетитором
                  a.tutor__contacts-item(href="t.me/repetitor", target="_blank", rel="noopener noreferref", data-icon="tg") @repetitor
                  a.tutor__contacts-item(href="viber://contact?number=%2B74950000000", target="_blank", rel="noopener noreferref", data-icon="viber") +7 495 000-00-00
                  a.tutor__contacts-item(href="api.whatsapp.com/send?phone=74950000000", target="_blank", rel="noopener noreferref", data-icon="whatsapp") +7 495 000-00-00
                  a.tutor__contacts-item(href="skype:repetitor?chat", target="_blank", rel="noopener noreferref", data-icon="skype") repetitor
              +button('primary', 'popup', 'Оставить заявку', 'tutor__btn', {popup: login ? 'request' : 'request-auth'})
        nav.tutor__nav
          a.tutor__nav-link(href="javascript:void(0)", data-target="about") О репетиторе
          a.tutor__nav-link(href="javascript:void(0)", data-target="experience") Опыт работы
          a.tutor__nav-link(href="javascript:void(0)", data-target="reviews") Отзывы
          a.tutor__nav-link(href="javascript:void(0)", data-target="schedule") Расписание
        .tutor__content
          .tutor__block(data-block="about")
            +profile-about('tutor')
          .tutor__block(data-block="experience")
            +profile-experience('tutor')
          .tutor__block(data-block="reviews")
            +profile-reviews(login, 'tutor')
          .tutor__block(data-block="schedule")
            +profile-schedule(login)
      aside.tutor__aside
        .tutor__actions
          .tutor__actions-info
            if login
              .tutor__rating.tutor__rating--empty
                p.tutor__rating-rate 0.0
                p.tutor__rating-reviews (0 отзывов)
            else
              .tutor__rating
                p.tutor__rating-rate 4.9
                p.tutor__rating-reviews (50 отзывов)
            .tutor__cost
              p.tutor__cost-value <span class="js-profile-cost">1000</span> &#8381;
              p.tutor__cost-desc в час
          if payed
            .tutor__contacts
              p.tutor__contacts-heading Свяжитесь с репетитором
              a.tutor__contacts-item(href="t.me/repetitor", target="_blank", rel="noopener noreferref", data-icon="tg") @repetitor
              a.tutor__contacts-item(href="viber://contact?number=%2B74950000000", target="_blank", rel="noopener noreferref", data-icon="viber") +7 495 000-00-00
              a.tutor__contacts-item(href="api.whatsapp.com/send?phone=74950000000", target="_blank", rel="noopener noreferref", data-icon="whatsapp") +7 495 000-00-00
              a.tutor__contacts-item(href="skype:repetitor?chat", target="_blank", rel="noopener noreferref", data-icon="skype") repetitor
          +button('primary', 'popup', 'Оставить заявку', 'tutor__btn', {popup: login ? 'request' : 'request-auth'})