.input
  display: block
  &:hover
    .input__field:not([readonly])
      border-color: $dark-blue
  &--error
    .input__field
      border-color: #FF564E !important
    .input__error
      display: block
  &__label
    margin-bottom: 7px
    color: $dark-blue
    font-size: 15px
  &__field
    display: block
    width: 100%
    padding: 15px 20px 16px
    border: 1px solid #F0F0F0
    border-radius: 5px
    background-color: #FBFBFB
    outline: 0
    line-height: 1.33
    word-break: keep-all
    -webkit-appearance: none
    transition: border-color .3s ease
    font:
      family: 'OpenSans', Helvetica, sans-serif
      size: 14px
    &[readonly]
      background-color: #efefef
    &:not([readonly]):focus
      border-color: $dark-blue
    &::placeholder
      opacity: 1
      color: $gray
    &::-webkit-input-placeholder
      opacity: 1
      color: $gray
    &::-moz-placeholder
      opacity: 1
      color: $gray
    &:-ms-input-placeholder
      opacity: 1
      color: $gray
    &:-moz-placeholder
      opacity: 1
      color: $gray
  &__error
    display: none
    margin: 5px 0
    color: #FF564E
    font:
      size: 14px
      weight: 500

@media only screen and (max-width: $mobile)
  .input
    &__field
      padding: 10px 20px 11px
      font-size: 13px