.input
  position: relative
  display: block
  &:hover
    .input__field
      border-color: $dark-blue
  &.dropdown
    &:not([data-cities]) .input__wrapper
      &:after
        content: ''
        position: absolute
        bottom: 23px
        right: 20px
        width: 8px
        height: 5px
        background:
          image: url('../img/icons/caret.svg')
          size: contain
          position: center
          repeat: no-repeat
      .input__field
        padding-right: 40px
    .input
      &__field
        &[readonly]
          cursor: pointer
  &--error
    .input__field
      border-color: $red !important
    .input__error
      display: block
  &__label
    margin-bottom: 7px
    color: $dark-blue
    font-size: 15px
    span
      color: $red
  &__wrapper
    position: relative
  &__code
    position: absolute !important
    bottom: 1px
    left: 1px
    width: 77px
    height: 49px
    border-radius: 4px 0 0 4px
    background-color: $gray-3
    border-right: 1px solid #F0F0F0
    &:before
      content: ''
      position: absolute
      top: calc(50% - 10px)
      left: 20px
      width: 20px
      height: 20px
      background:
        size: contain
        position: center
        repeat: no-repeat
    &:after
      content: ''
      position: absolute
      top: calc(50% - 2px)
      right: 20px
      width: 8px
      height: 5px
      background:
        image: url('../img/icons/caret.svg')
        size: contain
        position: center
        repeat: no-repeat
    &[data-code-loc="ru"]:before
      background-image: url('../img/icons/ru.svg')
    &[data-code-loc="ua"]:before
      background-image: url('../img/icons/ua.svg')
    .input__dropdown
      &-item
        padding: 15px 20px 15px 49px
        &:before
          content: ''
          position: absolute
          top: calc(50% - 10px)
          left: 20px
          width: 20px
          height: 20px
          background:
            size: contain
            position: center
            repeat: no-repeat
        &[data-code-loc="ru"]:before
          background-image: url('../img/icons/ru.svg')
        &[data-code-loc="ua"]:before
          background-image: url('../img/icons/ua.svg')
  &__dropdown
    overflow: hidden
    left: 0 !important
    width: 100%
    border-radius: 5px
    &-item
      position: relative
      display: block
      padding: 15px 20px
      transition: all .3s ease
      &:hover
        background-color: $gray-3
  &__field
    display: block
    width: 100%
    padding: 15px 20px 16px
    border: 1px solid #F0F0F0
    border-radius: 5px
    background-color: #FBFBFB
    outline: 0
    line-height: 1.33
    word-break: keep-all
    -webkit-appearance: none
    transition: border-color .3s ease
    font:
      family: 'OpenSans', Helvetica, sans-serif
      size: 14px
    &[type="tel"]
      padding-left: 97px
    &:focus
      border-color: $dark-blue
      &::placeholder
        opacity: 0
      &::-webkit-input-placeholder
        opacity: 0
      &::-moz-placeholder
        opacity: 0
      &:-ms-input-placeholder
        opacity: 0
      &:-moz-placeholder
        opacity: 0
    &::placeholder
      opacity: 1
      color: $gray
    &::-webkit-input-placeholder
      opacity: 1
      color: $gray
    &::-moz-placeholder
      opacity: 1
      color: $gray
    &:-ms-input-placeholder
      opacity: 1
      color: $gray
    &:-moz-placeholder
      opacity: 1
      color: $gray
  &__error
    display: none
    margin: 3px 0
    color: $red
    font-size: 13px

@media only screen and (max-width: $mobile)
  .input
    &.dropdown:not([data-cities]):after
      bottom: 17px
    &__field
      height: 40px
      padding: 10px 20px 11px
      font-size: 13px
      &[type=tel]
        padding-left: 87px
    &__code
      width: 67px
      height: 38px
      &:before
        left: 15px
      &:after
        top: calc(50% - 1px)
        right: 13px
      .input__dropdown-item
        padding: 11px 10px 11px 49px
    &__dropdown-item
      padding: 11px 20px