.advantages
  margin-top: -30px
  margin-bottom: 100px
  &__grid
    display: flex
    justify-content: space-between
  &__item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 375px
    height: 220px
    padding: 30px
    border-radius: 3px
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.04)
    background-color: #fff
    text-align: center
  &__heading
    position: relative
    margin-bottom: 20px
    padding-bottom: 20px
    line-height: 0.995
    font:
      size: 18px
      weight: 700
    &:after
      position: absolute
      content: ''
      left: calc(50% - 38px)
      bottom: 0
      width: 75px
      height: 2px
      background-color: $blue
  &__desc
    color: $gray
    font-size: 16px

@media only screen and (max-width: $tablet)
  .advantages
    margin-top: -20px
    margin-bottom: 30px
    &__grid
      flex-wrap: wrap
      justify-content: center
      width: calc(100% + 20px)
      margin-left: -10px
    &__item
      width: calc(50% - 20px)
      height: 180px
      margin: 0 10px 20px
      padding: 30px 20px

@media only screen and (max-width: $mobile)
  .advantages
    margin-top: 0
    margin-bottom: 50px
    &__grid
      display: block
      width: 100%
      margin-left: 0
    &__item
      width: 100%
      height: auto
      margin: 0 0 20px
      padding: 30px 15px 20px
    &__heading
      margin-bottom: 15px
      padding-bottom: 15px
      font-size: 16px
    &__desc
      font-size: 14px