mixin advantages
  section.advantages.container
    .advantages__wrapper.wrapper
      .advantages__grid
        .advantages__item
          p.advantages__heading Мобильность
          p.advantages__desc Гибкий, подстроенный под вас график обучения. Учитесь и преподавайте в любом месте, в удобное время.
        .advantages__item
          p.advantages__heading Любой бюджет и уровень
          p.advantages__desc Преподаватель на любой бюджет. Ученик из любого региона - оттуда, где репетитор востребован.
        .advantages__item
          p.advantages__heading Безопасность
          p.advantages__desc Полноценная платформа для связи и тщательная проверка преподавателей перед доступом к работе.