.advantages
  margin-top: -30px
  margin-bottom: 100px
  &--join
    margin: 0
    padding: 160px 0 100px
    background-color: $gray-2
    .advantages
      &__item
        justify-content: flex-start
        height: auto
        &:nth-child(2)
          transform: translateY(-30px)
  &__grid
    display: flex
    justify-content: space-between
  &__item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 375px
    height: 220px
    padding: 30px 20px
    border-radius: 3px
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.04)
    background-color: #fff
    text-align: center
  &__icon
    width: 64px
    height: 64px
    margin: 0 auto 20px
    background:
      size: contain
      position: center
      repeat: no-repeat
    &[data-icon="bid"]
      background-image: url('../img/icons/bid.svg')
    &[data-icon="teach"]
      background-image: url('../img/icons/teach.svg')
    &[data-icon="withdraw"]
      background-image: url('../img/icons/withdraw.svg')
  &__heading
    position: relative
    margin-bottom: 20px
    padding-bottom: 20px
    line-height: 0.995
    font:
      size: 18px
      weight: 700
    &:after
      position: absolute
      content: ''
      left: calc(50% - 38px)
      bottom: 0
      width: 75px
      height: 2px
      background-color: $blue
  &__desc
    color: $gray
    font-size: 16px
  &__btn
    display: flex
    justify-content: center
    margin-top: 30px

@media only screen and (max-width: $tablet)
  .advantages
    margin-top: -20px
    margin-bottom: 30px
    &--join
      margin: 0
      padding: 100px 0 80px
      .advantages__item:nth-child(2)
        transform: none
    &__grid
      flex-wrap: wrap
      justify-content: center
      width: calc(100% + 20px)
      margin-left: -10px
    &__item
      width: calc(50% - 20px)
      height: 180px
      margin: 0 10px 20px
      padding: 30px 20px

@media only screen and (max-width: $mobile)
  .advantages
    margin-top: 0
    margin-bottom: 50px
    &--join
      padding: 50px 0
      margin-top: -30px
      margin-bottom: 0
    &__grid
      display: block
      width: 100%
      margin-left: 0
    &__item
      width: 100%
      height: auto
      margin: 0 0 20px
      padding: 30px 15px 20px
    &__heading
      margin-bottom: 15px
      padding-bottom: 15px
      font-size: 16px
    &__desc
      font-size: 14px