include ../heading/heading
include ../input/input
include ../button/button
include ../checkbox/checkbox

mixin popup(type, id = type, mod)
  .popup.js-popup.js-close-popup(data-popup=id)
    .popup__backdrop
    .popup__container
      .popup__wrapper
        .popup__window(class=`${type === 'dialog-clear' || type === 'dialog-delete' ? 'popup__window--sm' : ''}`)
          .popup__head
            if type === 'restore'
              +heading('Восстановление пароля', 'popup__heading')
            if type === 'request-auth'
              +heading('Зарегистрируйтесь, чтобы отправить заявку', 'popup__heading')
            if type === 'request'
              +heading('Оставить заявку на занятия', 'popup__heading')
            if type === 'request-specific'
              +heading('Заявка на занятие <span class="popup__heading-date">16.07.2021</span> в <span class="popup__heading-time">08:00</span>', 'popup__heading')
            if type === 'offer'
              +heading('Предложить услуги на обучение', 'popup__heading')
            if type === 'request-success'
              +heading('Заявка успешно отправлена!', 'popup__heading')
            if type === 'offer-success'
              +heading('Предложение успешно отправлено!', 'popup__heading')
            if type === 'dialog-clear'
              +heading('Удалить переписку', 'popup__heading')
            if type === 'dialog-delete'
              +heading('Удалить cообщение', 'popup__heading')
            if type === 'unlink-fb' || type === 'unlink-google'
              +heading('Отвязать аккаунт', 'popup__heading')
            if type === 'edit-photo'
              +heading('Редактировать фото', 'popup__heading')
            .popup__close.js-close-popup
          .popup__content
            if type === 'restore'
              form.popup__restore(data-restore-form)
                p.popup__subheading Укажите почту, привязанную к вашей учетной записи. Мы отправим письмо для восстановления пароля.
                +input('email', '', 'email', 'Введите ваш email', 'popup__restore-input', {required: true, error: 'Введите корректный email'})
                +button('primary', 'submit', 'Продолжить', 'popup__submit')
            if type === 'request-auth'
              form(data-request-auth-form)
                p.popup__desc Чтобы отправить заявку репетитору <b>Анна Иванова</b>, осталось совершить всего одно действие!
                p.auth__subheading Войти с помощью:
                .auth__socials
                  a.auth__social(data-social="fb", href="#") С помощью Facebook
                  a.auth__social(data-social="google", href="#") С помощью Google
                p.auth__subheading Авторизироваться с помощью сайта:
                +input('email', '', 'email', 'Ваш email', 'auth__input', {required: true, error: 'Введите корректный email'})
                +input('password', '', 'password', 'Ваш пароль', 'auth__input', {required: true, error: 'Введите пароль'})
                .auth__actions
                  +button('primary', 'submit', 'Войти', 'auth__actions-btn')
                  a.auth__actions-restore(href="signup.html") Регистрация
            if type === 'request'
              form.popup__request(data-request-form)
                p.popup__warn <b>Обращаем ваше внимание</b>, что первое занятие с репетитором оплачивается онлайн через наш сервис.
                .popup__request-row
                  +input('text', 'Цель занятий <span>*</span>', 'purpose', 'Выберите цель занятий', 'popup__request-input auth__input', {required: true, error: 'Выберите цель занятий', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Подтянуть уровень языка</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Выучить язык с нуля</a>'})
                  +input('text', 'Количество раз в неделю <span>*</span>', 'lessons', 'Выберите количество занятий', 'popup__request-input auth__input', {required: true, error: 'Выберите количество занятий', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>1 раз</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>2 раза</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>3 раза</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>4 раз</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>5 раз</a>'})
                .popup__request-row
                  +input('text', 'Желаемое время <span>*</span>', 'time', 'Выберите желаемое время', 'popup__request-input auth__input', {required: true, error: 'Выберите желаемое время', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>9:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>10:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>11:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>12:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>13:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>14:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>15:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>16:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>17:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>18:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>19:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>20:00</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>21:00</a>'})
                  +input('text', 'Тип занятий <span>*</span>', 'type', 'Выберите тип занятий', 'popup__request-input auth__input', {required: true, error: 'Выберите тип занятий', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Онлайн</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Офлайн</a>'})
                .auth__actions
                  +button('primary', 'submit', 'Отправить заявку', 'auth__actions-btn')
                  a.auth__actions-link(href="#") Помощь по сервису
            if type === 'request-specific'
              form.popup__request(data-request-specific-form)
                p.popup__warn <b>Обращаем ваше внимание</b>, что первое занятие с репетитором оплачивается онлайн через наш сервис.
                .popup__request-row
                  +input('text', 'Предмет <span>*</span>', 'lessons', 'Выберите желаемый предмет', 'popup__request-input auth__input', {required: true, error: 'Выберите желаемый предмет', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Английский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Немецкий язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Итальянский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Французский язык</a>'})
                  +input('text', 'Цель занятий <span>*</span>', 'purpose', 'Выберите цель занятий', 'popup__request-input auth__input', {required: true, error: 'Выберите цель занятий', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Подтянуть уровень языка</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Выучить язык с нуля</a>'})
                .popup__request-row
                  +input('text', 'Выбранное время <span>*</span>', 'time', 'Выберите желаемое время', 'popup__request-input auth__input', {required: true, error: 'Выберите желаемое время', readonly: true})
                  +input('text', 'Тип занятий <span>*</span>', 'type', 'Выберите тип занятий', 'popup__request-input auth__input', {required: true, error: 'Выберите тип занятий', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Онлайн</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Офлайн</a>'})
                .auth__actions
                  +button('primary', 'submit', 'Отправить заявку', 'auth__actions-btn')
                  a.auth__actions-link(href="#") Помощь по сервису
            if type === 'offer'
              form.popup__request(data-offer-form)
                p.popup__warn <b>Обращаем ваше внимание</b>, что первое занятие с репетитором оплачивается онлайн через наш сервис.
                .popup__request-row
                  +input('text', 'Предмет <span>*</span>', 'lessons', 'Выберите желаемый предмет', 'popup__request-input auth__input', {required: true, error: 'Выберите желаемый предмет', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Английский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Немецкий язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Итальянский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Французский язык</a>'})
                  +input('text', 'Тип занятий <span>*</span>', 'type', 'Выберите тип занятий', 'popup__request-input auth__input', {required: true, error: 'Выберите тип занятий', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Онлайн</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Офлайн</a>'})
                .auth__actions
                  +button('primary', 'submit', 'Отправить предложение', 'auth__actions-btn')
                  a.auth__actions-link(href="#") Помощь по сервису
            if type === 'request-success'
              p.popup__desc.popup__desc--centered Вы получите уведомление в случае, если <b>Анна Иванова</b> ее подтвердит или отклонит <b>в течение 12 часов.</b>
            if type === 'offer-success'
              p.popup__desc.popup__desc--centered Вы получите уведомление в случае, если <b>Анна Иванова</b> его подтвердит или отклонит <b>в течение 12 часов.</b>
            if type === 'dialog-clear'
              p.popup__desc Вы уверены, что хотите удалить всю переписку? Данное действие нельзя будет отменить
              +checkbox('Удалить у Анны Ивановой', 'deleteFromCompanion', 'popup__checkbox', false, true)
            if type === 'dialog-delete'
              p.popup__desc Вы уверены, что хотите удалить сообщение? Данное действие нельзя будет отменить
              +checkbox('Удалить у Анны Ивановой', 'deleteFromCompanion', 'popup__checkbox', false, true)
            if type === 'unlink-fb'
              p.popup__desc <b>Вы уверены, что хотите отвязать аккаунт Facebook <a href="http://facebook.com">Konstantin R</a> ?</b>
            if type === 'unlink-google'
              p.popup__desc <b>Вы уверены, что хотите отвязать аккаунт Google <a href="http://goggle.com">Konstantin R</a> ?</b>
            if type === 'unlink-fb' || type === 'unlink-google'
              .popup__actions
                +button('primary', 'button', 'Да, отвязать', 'js-close-popup')
                +button('secondary', 'button', 'Отмена', 'js-close-popup')
            if type === 'edit-photo'
              form.popup__photo(action="", data-photo-form)
                .popup__photo-info
                  label.popup__photo-input
                    +button('secondary', 'plug', 'Выбрать файл', 'popup__photo-file', {link: 'javascript:void(0)'})
                    input.js-photo-input(type="file", name="photo", accept="image/*", required)
                  p.popup__photo-desc Минимальный размер – 200×200px, максимальный размер файла 7Mb.
                  p.popup__photo-subheading Ваше фото
                  .popup__photo-pic
                .popup__photo-main
                  .popup__photo-container
                    if mod === 'empty'
                      img.popup__photo-image(src='img/inhtml/no-avatar-big.png', alt="")
                    else
                      img.popup__photo-image(src='img/inhtml/student-1.jpg', alt="", data-uploaded)
                  +button('primary', 'submit', 'Сохранить', 'popup__photo-btn')
          if type === 'dialog-clear' || type === 'dialog-delete'
            .popup__footer
              a.popup__footer-btn.popup__footer-btn--danger.js-close-popup(href="javascript:void(0)", data-delete) Да, удалить
              a.popup__footer-btn.popup__footer-btn--light.js-close-popup(href="javascript:void(0)") Отменить