include ../../_ui/heading/heading
include ../../_ui/input/input
include ../../_ui/button/button

mixin popup(type, id = type)
  .popup.js-popup.js-close-popup(data-popup=id)
    .popup__backdrop
    .popup__container
      .popup__wrapper
        .popup__window
          .popup__head
            if type === 'restore'
              +heading('Восстановление пароля', 'popup__heading')
            .popup__close.js-close-popup
          .popup__content
            if type === 'restore'
              form.popup__restore(data-restore-form)
                p.popup__subheading Укажите почту, привязанную к вашей учетной записи. Мы отправим письмо для восстановления пароля.
                +input('email', '', 'email', 'Введите ваш email', 'popup__restore-input', {required: true, error: 'Введите корректный email'})
                +button('primary', 'submit', 'Продолжить', 'popup__submit')