.popup
  z-index: 999999
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: none
  cursor: pointer
  &--opened
    .popup__backdrop
      opacity: 1
    .popup__window
      opacity: 1
      transform: none
  &__container
    position: relative
    width: 100%
    height: 100%
    padding: 50px 0
    overflow: scroll
  &__backdrop
    opacity: 0
    z-index: 1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.7)
    transition: opacity .3s ease
  &__wrapper
    z-index: 2
    position: relative
    min-height: 100%
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
  &__window
    opacity: 0
    position: relative
    max-width: 770px
    width: 100%
    background-color: #fff
    border-radius: 3px
    transform: translateY(-50px)
    transition: all .3s ease
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04)
    cursor: auto
    &--sm
      max-width: 400px
      .popup
        &__head
          padding: 20px 10px
        &__heading
          font-size: 18px
        &__content
          padding: 15px 20px 20px
        &__desc
          font-size: 15px
  &__head
    padding: 30px 10px
    border-bottom: 1px solid $gray-4
  &__heading
    margin-bottom: 0 !important
    font-size: 20px
  &__close
    position: absolute
    top: 14px
    right: 14px
    width: 20px
    height: 20px
    cursor: pointer
    background:
      image: url('../img/icons/close.svg')
      position: center
      repeat: no-repeat
  &__content
    padding: 35px 60px 50px
  &__subheading
    font-weight: 500
    &:not(:last-child)
      margin-bottom: 18px
  &__desc
    &:not(:last-child)
      margin-bottom: 18px
    &--centered
      text-align: center
    b
      font-weight: 500
    a
      color: $blue
      &:hover
        color: transparentize($blue, 0.2)
  &__warn
    margin-bottom: 25px
    padding: 15px 20px
    border: 1px solid $blue
    border-radius: 5px
    text-align: center
  &__submit
    width: 320px
  &__restore
    &-input
      margin-bottom: 20px
  &__request
    &-row
      display: flex
      justify-content: space-between
      align-items: flex-start
    &-input
      width: calc(50% - 10px)
  &__actions
    display: flex
    justify-content: space-between
  &__photo
    display: flex
    justify-content: space-between
    &-info
      width: 250px
    &-input
      display: block
      width: 200px
      margin-bottom: 15px
      input
        position: absolute
        opacity: 0
        visibility: hidden
        width: 0
        height: 0
        margin: 0
        padding: 0
    &-file
      width: 200px
      padding: 9px 20px 10px
    &-desc
      margin-bottom: 25px
      color: $gray
      font-size: 13px
    &-subheading
      margin-bottom: 10px
      font:
        size: 15px
        weight: 500
    &-pic
      overflow: hidden
      width: 200px
      height: 200px
      background:
        image: url('../img/inhtml/no-avatar-big.png')
        size: cover
        position: center
        repeat: no-repeat
    &-main
      width: 350px
    &-container
      height: 350px
    &-image
      display: block
      max-width: 100%
      height: 350px
    &-btn
      width: 100%
      margin-top: 20px
  &__footer
    display: flex
    padding: 15px 20px 20px
    border-top: 1px solid $gray-4
    &-btn
      font-size: 15px
      &:not(:last-child)
        margin-right: 35px
      &--danger
        color: $red
        &:hover
          color: transparentize($red, .2)
      &--light
        color: $gray
        &:hover
          color: transparentize($gray, .2)


@media only screen and (max-width: $tablet)
  .popup
    &__window
      max-width: 540px
    &__head
      padding: 25px 10px
    &__content
      padding: 30px 45px 40px
    &__heading
      font-size: 18px
    &__subheading,
    &__desc
      &:not(:last-child)
        margin-bottom: 15px
    &__submit
      width: 100%
    &__warn
      margin-bottom: 20px
      padding: 10px 15px
    &__request
      &-row
        display: block
      &-input
        width: 100%
    &__actions
      .button
        width: 200px
    &__photo
      flex-direction: column
      align-items: center
      &-input
        margin-left: auto
        margin-right: auto
      &-subheading
        text-align: center
      &-pic
        display: none

@media only screen and (max-width: $mobile)
  .popup
    &__window
      max-width: 420px
      width: calc(100% - 30px)
    &__head
      padding: 20px 10px
    &__close
      top: 5px
      right: 5px
      transform: scale(0.8)
    &__content
      padding: 15px 20px 25px
    &__heading
      font-size: 17px
    &__subheading,
    &__desc
      font-size: 13px
      &:not(:last-child)
        margin-bottom: 10px
    &__actions
      flex-direction: column
      .button
        width: 100%
        &:not(:last-child)
          margin-bottom: 10px
    &__photo
      &-main
        width: 100%
        .cropper-container
          width: 250px
      &-container
        width: 250px
        height: 250px
        margin: 0 auto
      &-image
        height: 250px