.cookies
  z-index: 9
  position: fixed
  bottom: -120px
  left: calc(50% - 450px)
  display: flex
  justify-content: space-between
  align-items: center
  width: 900px
  padding: 10px 10px 10px 15px
  border-radius: 10px
  background: #FFFFFF
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04)
  transition: bottom .5s ease-out
  &--shown
    bottom: 20px
  &__text
    width: 715px
    line-height: 1.38
    font-size: 13px
  &__btn
    width: 120px
    padding: 10px 20px 13px