include ../_ui/button/button

mixin cookies
  .cookies
    p.cookies__text Мы используем cookies, для вашего удобства на сайте. Просматривая наш веб-сайт, вы соглашаетесь на использование нами файлов cookies.
    +button('primary', 'button', 'Хорошо!', 'cookies__btn')