include ../_ui/title/title
include ../_ui/filters/filters
include ../_ui/tutorcard/tutorcard
include ../_ui/pagination/pagination
include ../_ui/button/button

mixin catalog(type, notfound, login)
  section.catalog
    .catalog__head.container
      .wrapper
        if type === 'tutor'
          +title('Поиск репетитора')
          +filters('catalog__filters', ['subject', 'location', 'cost', 'term'])
        if type === 'student'
          +title('Поиск учеников')
          +filters('catalog__filters', ['subject', 'location', 'cost'])
        .catalog__sort
          .catalog__sort-item.dropdown.dropdown--caret.js-catalog-filter Сортировать по:
            p.dropdown__value Актуальности
            .catalog__sort-dropdown.dropdown__menu
              a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) Актуальности
              a.dropdown__menu-item(href="javascript:void(0)", data-toggle) Популярности
              a.dropdown__menu-item(href="javascript:void(0)", data-toggle) Цене: от высокой к низкой
              a.dropdown__menu-item(href="javascript:void(0)", data-toggle) Цене: от низкой к высокой
              a.dropdown__menu-item(href="javascript:void(0)", data-toggle) Количеству отзывов
              a.dropdown__menu-item(href="javascript:void(0)", data-toggle) Высокому рейтингу
          .catalog__sort-item.dropdown.dropdown--caret.js-catalog-limit Показывать на странице:
            p.dropdown__value 10
            .dropdown__menu.dropdown__menu--small
              a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 10
              a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 20
              a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 30
    .catalog__main.container
      .wrapper
        if notfound
          .catalog__notfound
            p.catalog__notfound-text По вашему запросу <a href="#">Французский язык</a> в <a href="#">России</a> <b>ничего не найдено.</b><br>Попробуйте поиск с другими параметрами.
        else
          .catalog__found
            if type === 'tutor'
              p.catalog__found-desc Найдено <b>213</b> репетиторов по предмету <a href="#">Английский язык</a> в <a href="#">России</a>
              .catalog__items(data-total="10")
                +tutorcard('Анна Иванова', 'tutor-1.jpg', true, true, login)
                +tutorcard('Светлана Авдеева', 'tutor-2.jpg', false, true, login)
                +tutorcard('Вероника Казакова', 'tutor-3.jpg', false, false, login, true)
                +tutorcard('Лилия Савченко', 'tutor-4.jpg', false, true, login)
                +tutorcard('Катерина Смит', 'tutor-5.jpg', false, true, login)
              .catalog__bottom
                +pagination
                +button('primary', 'button', 'Показать еще', 'catalog__bottom-btn js-catalog-more')
            if type === 'student'
              p.catalog__found-desc Найдено <b>100</b> учеников по предмету <a href="#">Английский язык</a> в <a href="#">России</a>
              .catalog__items(data-total="10")
                +tutorcard-student('Анна Иванова', 'student-4.jpg', false, '1000')
                +tutorcard-student('Иоланта Соловьева', 'student-2.jpg', true, '1500')
                +tutorcard-student('Светлана Авдеева', 'student-3.jpg', false, '1000')
                +tutorcard-student('Вероника Казакова', 'tutor-4.jpg', true, '1000')
                +tutorcard-student('Лилия Савченко', 'tutor-5.jpg', false, '1000')
              .catalog__bottom
                +pagination
                +button('primary', 'button', 'Показать еще', 'catalog__bottom-btn js-catalog-more')