mixin footer
  footer.footer.container
    .footer__wrapper.wrapper
      .footer__top
        .footer__col
          img.footer__logo(src="img/logo-gray.svg", alt="LetMeTutor logo gray")
          p.footer__copyright &copy; 2021 letmetutor.com <br>Все права защищены
        .footer__col
          p.footer__title Главная
          a.footer__link(href="catalog.html") Репетиторы
          a.footer__link(href="#") Как это работает
          a.footer__link(href="#") Стать репетитором
        .footer__col
          p.footer__title Полезная информация
          a.footer__link(href="#") Вопрос - ответ
          a.footer__link(href="#") Помощь
          a.footer__link(href="support.html") Тех. поддержка
          a.footer__link(href="#") Правила сервиса
        .footer__col
          p.footer__title Служба поддержки
          p.footer__desc <a href="tel:+380675772532">+380 67 577 25 32</a><br><br>Будни: с 6 до 22<br>Выходные: с 8 до 22
      .footer__bottom
        a.footer__policy(href="#") Политика конфиденциальности
        .footer__socials
          a.footer__socials-item(href="https://facebook.com", target="_blank", rel="noopener noreferref", data-social="fb")
          a.footer__socials-item(href="https://instagram.com", target="_blank", rel="noopener noreferref", data-social="inst")
          a.footer__socials-item(href="https://vk.com", target="_blank", rel="noopener noreferref", data-social="vk")