include ../radio/radio
include ../button/button

- titles = {card: {replenish: 'Банковская карта (Visa, MasterCard)', withdraw: 'На банковскую карту (Visa, MasterCard)'}, yoomoney: {replenish: 'ЮMoney', withdraw: 'На кошелек ЮMoney'}, payeer: {replenish: 'Payeer', withdraw: 'На кошелек Payeer'}}

mixin balance(options)
  form(class=`${options.class || ''} ${options.full ? 'balance--full' : ''}`).balance&attributes({[options.form]: options.form})
    .balance__main
      if options.button === 'Вывести'
        p.balance__heading Какую сумму хотите вывести?
      else
        p.balance__heading На какую сумму хотите пополнить баланс?
      input.balance__input(type="text", name="sum", value=options.sum || 0, required)
      if options.button === 'Вывести'
        p.balance__method Выберите способ вывода
      else
        p.balance__method Выберите способ пополнения
      each method, i in options.methods
        +radio(titles[method][options.button === 'Вывести' ? 'withdraw' : 'replenish'], 'method', method, 'balance__radio', true, i === 0, method)
      +button('primary', 'submit', options.button, 'balance__btn')
      p.personal__services-warn(style="margin-top: 20px") <b>Ваш аккаунт не подтвержден!</b><br><br>Срок вывода средств с сервиса - <b>7 дней</b>.<br><a href="#">Пройдите верификацию</a>, чтобы выводить деньги без задержек!
    .balance__aside(class=`${options.border ? 'balance__aside--border' : ''}`)
      p.balance__current Ваш текущий баланс
      p.balance__money 1 000 &#8381;