include ../_ui/heading/heading
include ../_ui/input/input
include ../_ui/button/button
include ../_ui/tabs/tabs
include ../_ui/checkbox/checkbox
include ../_ui/radio/radio
include ../_ui/checkboxselect/checkboxselect
include ../_ui/textarea/textarea
include ../_ui/message/message

mixin auth(type)
  if type === 'signup-student'
    +message('danger', 'Пока вы не завершите регистрацию, вы не сможете начать обучение')
  if type === 'signup-tutor'
    +message('danger', 'Пока вы не завершите регистрацию, вы не будете видны в поиске и в каталоге')
  section.auth.container
    .auth__wrapper.wrapper
      .auth__block
        .auth__head
          if type === 'login'
            +heading('Авторизация', 'auth__heading')
          if type === 'signup'
            +heading('Регистрация', 'auth__heading')
          if type === 'signup-success'
            +heading('Вы успешно зарегистрировались!', 'auth__heading')
          if type === 'support'
            +heading('Тех. поддержка', 'auth__heading')
          if type === 'signup-student' || type === 'signup-tutor'
            +heading('Завершение регистрации', 'auth__heading')
        if type === 'login'
          form.auth__content(data-login-form)
            p.auth__subheading Войти с помощью:
            .auth__socials
              a.auth__social(data-social="fb", href="#") С помощью Facebook
              a.auth__social(data-social="google", href="#") С помощью Google
            p.auth__subheading Авторизироваться с помощью сайта:
            +input('email', '', 'email', 'Ваш email', 'auth__input', {required: true, error: 'Введите корректный email'})
            +input('password', '', 'password', 'Ваш пароль', 'auth__input', {required: true, error: 'Введите пароль'})
            .auth__actions
              +button('primary', 'submit', 'Войти', 'auth__actions-btn')
              a.auth__actions-restore.js-open-popup(href="javascript:void(0)", data-popup="restore") Забыли пароль?
        if type === 'signup'
          .auth__content(data-tabs)
            .auth__tabs
              .auth__tabs-grid
                +tabs(['Ученик', 'Репетитор'], 'auth__toggle')
              //- form.auth__tabs-content(data-content="1", data-active, data-signup-student-form)
              form(data-signup-student-form)
                input.auth__type(type="hidden", name="type", value="0")
                +input('text', 'Ваше имя <span>*</span>', 'name', 'Введите ваше имя', 'auth__input', {required: true, error: 'Введите корректные данные'})
                +input('text', 'Ваша фамилия <span>*</span>', 'surname', 'Введите вашу фамилию', 'auth__input', {required: true, error: 'Введите корректные данные'})
                +input('email', 'Ваш email <span>*</span>', 'email', 'Введите ваш email', 'auth__input', {required: true, error: 'Введите корректный email'})
                +input('tel', 'Номер телефона <span>*</span>', 'phone', '+7 (___) ___-__-__', 'auth__input', {required: true, error: 'Введите корректный номер телефона'})
                +input('text', 'Ваша страна <span>*</span>', 'country', 'Выберите страну', 'auth__input js-auth-country', {required: true, error: 'Выберите страну из списка', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Россия</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Украина</a>'})
                +input('text', 'Ваш город <span>*</span>', 'city', 'Введите ваш город', 'auth__input js-auth-city', {required: true, error: 'Выберите город', citiesSearch: true})
                +input('password', 'Ваш пароль <span>*</span>', 'password', 'Введите пароль', 'auth__input', {required: true, pass: true, error: 'Введите пароль'})
                +input('password', 'Повторите пароль <span>*</span>', 'passwordRepeat', 'Введите пароль', 'auth__input', {required: true, repeatPass: true, error: 'Введите совпадающий пароль'})
                +checkbox('Я согласен с <a href="#" target="_blank">правилами сервиса</a>', 'rulesAgreement', 'auth__checkbox', true, true)
                .auth__actions
                  +button('primary', 'submit', 'Зарегистрироваться', 'auth__actions-btn')
                  a.auth__actions-link(href="login.html") Авторизация
              //- form.auth__tabs-content(data-content="2", data-signup-tutor-form)
              //-   +input('text', 'Ваше ФИО <span>*</span>', 'fullname', 'Введите ваше ФИО', 'auth__input', {required: true, error: 'Введите корректные данные'})
              //-   +input('email', 'Ваш email <span>*</span>', 'email', 'Введите ваш email', 'auth__input', {required: true, error: 'Введите корректный email'})
              //-   +checkboxselect('Ваши специализации <span>*</span>', 'Выберите специализации', 'auth__input', {name: 'specializations', error: 'Выберите хотя бы одну специализацию из списка', list: [{label: 'Английский язык', value: 'english'}, {label: 'Математика', value: 'math'}, {label: 'Украинский язык', value: 'ukrainian'}, {label: 'Программирование', value: 'programming'}, {label: 'Физика', value: 'physics'}, {label: 'Химия', value: 'chemistry'}, {label: 'Биология', value: 'biology'}, {label: 'Русский', value: 'russian'}, {label: 'История', value: 'history'}]})
              //-   +input('tel', 'Номер телефона <span>*</span>', 'phone', '+7 (___) ___-__-__', 'auth__input', {required: true, error: 'Введите корректный номер телефона'})
              //-   +input('text', 'Ваша страна <span>*</span>', 'country', 'Выберите страну', 'auth__input js-auth-country', {required: true, error: 'Выберите страну из списка', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Россия</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Украина</a>'})
              //-   +input('text', 'Ваш город <span>*</span>', 'city', 'Введите ваш город', 'auth__input js-auth-city', {required: true, error: 'Выберите город', citiesSearch: true})
              //-   +input('password', 'Ваш пароль <span>*</span>', 'password', 'Введите пароль', 'auth__input', {required: true, pass: true, error: 'Введите пароль'})
              //-   +input('password', 'Повторите пароль <span>*</span>', 'passwordRepeat', 'Введите пароль', 'auth__input', {required: true, repeatPass: true, error: 'Введите совпадающий пароль'})
              //-   +checkbox('Я согласен с <a href="#" target="_blank">правилами сервиса</a>', 'rulesAgreement', 'auth__checkbox', true, true)
              //-   .auth__actions
              //-     +button('primary', 'submit', 'Зарегистрироваться', 'auth__actions-btn')
              //-     a.auth__actions-link(href="login.html") Уже зарегистрированы? Войти
        if type === 'signup-success'
          .auth__content
            p.auth__desc Поздравляем, регистрация прошла успешно, на ваш <b>контактный email</b> отправлено письмо с инструкцией для активации вашей учетной записи, пока вы не подтвердите вашу почту, <b>учетная запись будет неактивной и вы не сможете пользоваться сервисом.</b>
            .auth__actions.auth__actions--centered
              +button('primary', 'link', 'Вернуться назад', 'auth__actions-btn', {link: 'main.html'})
        if type === 'support'
          form.auth__content(data-support-form)
            +input('text', 'Ваше ФИО <span>*</span>', 'fullname', 'Введите ваше ФИО', 'auth__input', {required: true, error: 'Введите корректные данные'})
            +input('email', 'Ваш email <span>*</span>', 'email', 'Введите ваш email', 'auth__input', {required: true, error: 'Введите корректный email'})
            +input('text', 'Тема обращения <span>*</span>', 'subject', 'Выберите тему', 'auth__input', {required: true, error: 'Выберите тему из списка', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Общие вопросы</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Коммуникация с репетитором</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Учетная запись ученика</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Учетная запись репетитора</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Работа сервиса</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Платные сервисы</a>'})
            +textarea('Ваше сообщение <span>*</span>', 'comment', 'Введите ваш вопрос', 'auth__input', {required: true, error: 'Ввведите сообщение'})
            +checkbox('Я согласен с <a href="#" target="_blank">правилами сервиса</a>', 'rulesAgreement', 'auth__checkbox', true, true)
            .auth__actions
              +button('primary', 'submit', 'Отправить вопрос', 'auth__actions-btn')
              a.auth__actions-link(href="help.html") Помощь по сервису
        if type === 'signup-student'
          form.auth__content(data-signup-student-form)
            p.auth__desc <b>Поздравляем! Ваш email успешно подтвержден!</b><br>Для завершения регистрации вам необходимо заполнить дополнительные данные
            .personal__data
              .personal__data-aside
                .personal__data-image
                  .personal__data-image-pic
                  a.personal__data-image-change.js-open-popup(href="javascript:void(0)", data-popup="edit-photo") Загрузить фото
                .personal__data-socials
                  p.personal__data-socials-heading Привязать соц. сети
                  .personal__data-socials-item
                    a.personal__data-social(data-social="fb", href="#") Facebook
                  .personal__data-socials-item
                    a.personal__data-social(data-social="google", href="#") Gmail
              .personal__data-main
                +textarea('О себе', 'about', 'Введите краткую информацию о себе', 'auth__input')
                .personal__specialization-grid
                  .personal__specialization-item.js-copy-item
                    .personal__specialization-row
                      +input('text', 'Интересующий предмет <span>*</span>', 'subject', 'Выберите предмет', 'auth__input', {required: true, error: 'Выберите предмет', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Английский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Немецкий язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Итальянский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Французский язык</a>'})
                      +input('text', 'Желаемая цена за час <span>*</span>', 'price', 'Введите цену', 'auth__input', {required: true, error: 'Введите цену'})
                a.personal__add.js-personal-add(href="javascript:void(0)") Добавить еще предмет
                .auth__global
                  +checkbox('Выводить меня в глобальном поиске', 'globalSearch', 'auth__checkbox', false, false, {hint: 'В случае включения данной опции, ваш профиль будет выводится в общем каталоге учеников для репетитора. Репетитор сам может предложить вам свои услуги.'})
            .auth__actions
              +button('primary', 'submit', 'Завершить регистрацию', 'auth__actions-btn auth__actions-btn--full')
        if type === 'signup-tutor'
          form.auth__content(data-signup-tutor-form)
            p.auth__desc <b>Поздравляем! Ваш email успешно подтвержден!</b><br>Для завершения регистрации вам необходимо заполнить дополнительные данные
            .personal__data
              .personal__data-aside
                .personal__data-image
                  .personal__data-image-pic
                  a.personal__data-image-change.js-open-popup(href="javascript:void(0)", data-popup="edit-photo") Загрузить фото
                .personal__data-socials
                  p.personal__data-socials-heading Привязать соц. сети
                  .personal__data-socials-item
                    a.personal__data-social(data-social="fb", href="#") Facebook
                  .personal__data-socials-item
                    a.personal__data-social(data-social="google", href="#") Gmail
              .personal__data-main
                +textarea('О себе', 'about', 'Введите краткую информацию о себе', 'auth__input')
                +input('text', 'Видео-приветствие', 'video', 'Вставьте ссылку с youtube', 'auth__input')
                .personal__specialization-grid
                  .personal__specialization-item.js-copy-item
                    .personal__specialization-row
                      +input('text', 'Специализация <span>*</span>', 'specialization', 'Выберите предмет', 'auth__input', {required: true, error: 'Выберите предмет', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Английский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Немецкий язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Итальянский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown>Французский язык</a>'})
                      +input('text', 'Цена за час <span>*</span>', 'price', 'Введите цену', 'auth__input', {required: true, error: 'Введите цену'})
                    .personal__specialization-row
                      .personal__specialization-exp
                        p.personal__specialization-exp-label Опыт работы <span>*</span>
                        .profile-schedule__time.dropdown.dropdown--caret
                          p.profile-schedule__time-value.dropdown__value 1 год
                          .profile-schedule__time-menu.dropdown__menu
                            a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 1 год
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 2 года
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 3 года
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 4 года
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 5 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 6 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 7 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 8 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 9 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 10 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 11 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 12 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 13 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 14 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 15 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 16 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 17 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 18 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 19 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 20 лет
                            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) Больше 20 лет
                      +radio('Основная специализация', 'mainSpecialization', '', 'personal__specialization-radio', true, true)
                a.personal__add.js-personal-add(href="javascript:void(0)") Добавить еще специализацию
                .personal__specialization-type
                  p.personal__specialization-label Тип проводимых занятий <span>*</span>
                  +checkbox('Онлайн', 'online', 'personal__specialization-checkbox', false, true)
                  +checkbox('Оффлайн', 'offline', 'personal__specialization-checkbox')
            .auth__actions
              +button('primary', 'submit', 'Завершить регистрацию', 'auth__actions-btn auth__actions-btn--full')