.button
  display: inline-flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  width: 240px
  padding: 15px 20px 16px
  border-radius: 5px
  border: none
  text-decoration: none
  transition: all .3s ease
  color: #fff
  cursor: pointer
  outline: 0
  text-align: center
  line-height: 1.37
  font:
    family: 'OpenSans', Helvetica, sans-serif
    size: 14px
    weight: 500
  &--loading
    position: relative
    pointer-events: none
    color: transparent
    transition: none
    &:before
      content: ''
      position: absolute
      width: 32px
      height: 32px
      background:
        image: url('../img/icons/spinner.svg')
        position: center
        size: contain
        repeat: no-repeat
  &--disabled
    pointer-events: none
    filter: grayscale(1)
  &--primary
    background-color: $blue
    &:hover
      background-color: lighten($blue, 7)
      color: #fff
    &:active
      background-color: darken($blue, 3)
      transition: none
  &--secondary
    padding: 13px 20px 14px
    border: 2px solid $blue
    color: $dark-blue
    &:hover
      background-color: $blue
      color: #fff
    &:active
      border-color: lighten($blue, 7)
      background-color: lighten($blue, 7)
      transition: none
  &--tertiary
    background-color: #fff
    color: $blue
    &:hover
      background-color: darken(#fff, 3)

@media only screen and (max-width: $mobile)
  .button
    width: 100%
    padding: 11px 10px 12px
    &--secondary
      padding: 9px 10px 10px