mixin accordion
  .accordion
    .accordion__item
      p.accordion__item-title 1. Термины и определения
      .accordion__item-content
        ul.static__list
          li.static__list-item <span class="static__term">Letmetutor и/или Сайт</span> - Интернет ресурс, представляющий собой совокупность содержащихся в информационной системе информации и объектов интеллектуальной собственности (в том числе, программа для ЭВМ, база данных, графическое оформление интерфейса (дизайн) и др.), доступ к которому обеспечивается с различных пользовательских устройств, подключенных к сети Интернет, посредством специального программного обеспечения для просмотра веб-страниц (браузер) по адрес www.letmetutor.com (включая домены следующих уровней, относящихся к данным адресам) или Мобильных приложений.
          li.static__list-item <span class="static__term">Пользователь</span> - посетитель ресурсов сети Интернет, в том числе Letmetutor.
          li.static__list-item <span class="static__term">Пользовательское соглашение</span> - настоящее соглашение, Условия размещения обьявлений и иные правила и документы, регламентирующие работу Letmetutor или определяющие порядок использования Сервисов, опубликованные на Сайте.
          li.static__list-item <span class="static__term">Сервисы</span> - функциональные возможности, службы, услуги, инструменты, доступные для Пользователей на Letmetutor.
          li.static__list-item <span class="static__term">Объявление</span> - информационное сообщение с предложением о Товаре (включая контактную информацию, фотографии и любую сопутствующую информацию), размещаемое Пользователем на Letmetutor, адресованное неопределенному кругу лиц.
    .accordion__item
      p.accordion__item-title 2. Общие положения. Доступ к сервисам Сайта
      .accordion__item-content
        p.static__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, unde? Explicabo modi temporibus illum consectetur cupiditate, ad dolorum tempore! Nobis eum id blanditiis accusamus impedit, fugiat quam repudiandae natus sapiente dolores asperiores hic maiores? Aperiam, necessitatibus repellendus. Modi, ducimus sunt soluta et alias vero temporibus tempora, quo voluptatibus dolorem, natus facere reiciendis maiores aspernatur explicabo omnis vitae. Dolore accusamus dignissimos illo. Dolorem placeat deleniti natus possimus atque ducimus sequi, necessitatibus cum sunt facere saepe amet fugit eveniet nobis libero laboriosam, voluptate tenetur vitae neque harum accusamus consequatur deserunt sint. Amet numquam, quas asperiores fuga nobis laudantium aliquam rerum alias dolores?
        p.static__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aliquid in sunt, expedita dolorum aperiam consequuntur ullam quod ex id? Veritatis culpa eum est quisquam sapiente, reiciendis laudantium architecto modi!
    .accordion__item
      p.accordion__item-title 3. Регистрация на Сайте
      .accordion__item-content
        p.static__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, unde? Explicabo modi temporibus illum consectetur cupiditate, ad dolorum tempore! Nobis eum id blanditiis accusamus impedit, fugiat quam repudiandae natus sapiente dolores asperiores hic maiores? Aperiam, necessitatibus repellendus. Modi, ducimus sunt soluta et alias vero temporibus tempora, quo voluptatibus dolorem, natus facere reiciendis maiores aspernatur explicabo omnis vitae. Dolore accusamus dignissimos illo. Dolorem placeat deleniti natus possimus atque ducimus sequi, necessitatibus cum sunt facere saepe amet fugit eveniet nobis libero laboriosam, voluptate tenetur vitae neque harum accusamus consequatur deserunt sint. Amet numquam, quas asperiores fuga nobis laudantium aliquam rerum alias dolores?
        p.static__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aliquid in sunt, expedita dolorum aperiam consequuntur ullam quod ex id? Veritatis culpa eum est quisquam sapiente, reiciendis laudantium architecto modi!
    .accordion__item
      p.accordion__item-title 4. Сведения, предоставляемые Пользователями
      .accordion__item-content
        p.static__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, unde? Explicabo modi temporibus illum consectetur cupiditate, ad dolorum tempore! Nobis eum id blanditiis accusamus impedit, fugiat quam repudiandae natus sapiente dolores asperiores hic maiores? Aperiam, necessitatibus repellendus. Modi, ducimus sunt soluta et alias vero temporibus tempora, quo voluptatibus dolorem, natus facere reiciendis maiores aspernatur explicabo omnis vitae. Dolore accusamus dignissimos illo. Dolorem placeat deleniti natus possimus atque ducimus sequi, necessitatibus cum sunt facere saepe amet fugit eveniet nobis libero laboriosam, voluptate tenetur vitae neque harum accusamus consequatur deserunt sint. Amet numquam, quas asperiores fuga nobis laudantium aliquam rerum alias dolores?
        p.static__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aliquid in sunt, expedita dolorum aperiam consequuntur ullam quod ex id? Veritatis culpa eum est quisquam sapiente, reiciendis laudantium architecto modi!