mixin service
  .service
    header.service__header
      img.service__logo(src="img/logo.svg", alt="LetMeTutor logo")
    section.service__content
      .service__info
        p.service__info-heading Техническое обслуживание :(
        p.service__info-desc На данный момент на сайте проводятся технические работы, мы постараемся оперативно их закончить, попробуйте зайти чуть позже!
      .service__image
        .service__image-gear
        .service__image-main
    footer.service__footer
      a.service__social(href="https://facebook.com", target="_blank", rel="noopener noreferref", data-social="fb")
      a.service__social(href="https://instagram.com", target="_blank", rel="noopener noreferref", data-social="inst")
      a.service__social(href="https://vk.com", target="_blank", rel="noopener noreferref", data-social="vk")