include ../_ui/title/title
include ../_ui/breadcrumbs/breadcrumbs
include ../_ui/accordion/accordion

mixin static
  section.static.container
    .static__wrapper.wrapper
      +title('Политика конфиденциальности')
      +breadcrumbs([{title: 'Главная', link: 'main.html'}, {title: 'Помощь', link: 'help.html'}, {title: 'Политика конфиденциальности'}])
      .static__content
        p.static__text Настоящее Пользовательское соглашение регулирует отношения между («ЛетМиТутор») и пользователем сети Интернет («Пользователь»), возникающие при использовании интернет-ресурса www.letmetutor.com («Letmetutor»), на указанных в Пользовательском соглашении условиях.<br><br>Полным и безоговорочным принятием данного предложения Letmetutor в адрес Пользователя о заключении договора является совершение Пользователем действий, направленных на использование Letmetutor, в том числе, поиск, просмотр или подача объявлений, регистрация на сайте, направление сообщений через форму связи и прочие действия по использованию функциональности Letmetutor.<br><br>Пользовательское соглашение может быть изменено Letmetutor в любое время без какого-либо специального уведомления об этом Пользователя. Новая редакция Пользовательского соглашения вступает в силу с момента ее размещения на Letmetutor, если Letmetutor прямо не указано иное. Регулярное ознакомление с действующей редакцией Пользовательского соглашения является обязанностью Пользователя.<br><br>Использование Letmetutor после вступления в силу новой редакции Пользовательского соглашения означает согласие с ней Пользователя и применение к нему в полном объеме положений новой редакции.<br><br>Действующая редакция настоящего Пользовательского соглашения доступна по <a href="policy.html">адресу</a>.
        +accordion('policy')