include ../checkbox/checkbox

mixin checkboxselect(label, placeholder, className, options)
  .checkboxselect.dropdown(class=`${className || ''}`)
    p.checkboxselect__label!= label
    .checkboxselect__wrapper
      p.checkboxselect__input
        span.checkboxselect__input-check
          span.checkboxselect__input-check-mark
        span.checkboxselect__input-placeholder(data-placeholder=placeholder)= placeholder
      .checkboxselect__list.dropdown__menu
        each el in options.list
          .checkboxselect__item
            +checkbox(el.label, options.name, 'checkboxselect__checkbox')
    p.checkboxselect__error= options.error