mixin pagination
  .pagination
    a.pagination__arrow.pagination__arrow--prev.pagination__arrow--disabled(href="#")
    .pagination__pages
      a.pagination__page.pagination__page--current(href="#") 1
      a.pagination__page(href="#") 2
      a.pagination__page(href="#") 3
      a.pagination__page(href="#") 4
      a.pagination__page(href="#") 5
      span.pagination__separator ...
      a.pagination__page(href="#") 19
    a.pagination__arrow.pagination__arrow--next(href="#")