include ../components/cookies/cookies
include ../components/header/header
include ../components/chat/chat
include ../components/footer/footer
include ../components/_ui/popup/popup

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Диалоги | LetMeTutor
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header(true)
      +chat('student')
      +footer(true)
      +cookies
    +popup('dialog-clear')
    +popup('dialog-delete')