include ../components/cookies/cookies
include ../components/header/header
include ../components/static/static
include ../components/action/action
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Вопрос - ответ | LetMeTutor
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header
      +static('faq')
      +action('Не нашли ответа на свой вопрос?', {name: 'Написать в тех. поддержку', href: 'support.html'})
      +footer(true)
      +cookies