include ../components/header/header
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Разводящая страница | LetMeTutor
    include assets/_metas
    include assets/_links
    include assets/_scripts
    style(type="text/css").
      h1 {
        margin: 20px 0;
      }
      h4 {
        margin-bottom: 5px;
      }
      ol {
        margin: 0 0 20px 20px;
        line-height: 1.5;
      }
  body
    .page-wrapper
      section.container
        .wrapper
          h1 LetMeTutor
          h4 Регистрация и авторизация
          ol
            li
              a(href="login.html") Авторизация
            li
              a(href="signup.html") Регистрация
            li
              a(href="signup-success.html") Завершение регистрации
            li
              a(href="signup-student.html") Завершение регистрации ученика
            li
              a(href="signup-tutor.html") Завершение регистрации репетитора
          h4 Главная
          ol
            li
              a(href="main.html") Главная
            li
              a(href="main-login.html") Главная (пользователь авторизован)
          h4 Каталог
          ol
            li
              a(href="catalog.html") Каталог репетиторов
            li
              a(href="catalog-login.html") Каталог репетиторов (пользователь авторизован)
            li
              a(href="catalog-not-found.html") Каталог репетиторов (ничего не найдено)
            li
              a(href="catalog-students.html") Каталог учеников
            li
              a(href="catalog-students-not-found.html") Каталог учеников (ничего не найдено)
          h4 Профиль репетитора
          ol
            li
              a(href="tutor.html") Профиль репетитора
            li
              a(href="tutor-login.html") Профиль репетитора (пользователь авторизован, репетитор без рейтинга)
            li
              a(href="tutor-payed.html") Профиль репетитора (после оплаты занятия)
          h4 Профиль ученика
          ol
            li
              a(href="student.html") Профиль ученика (вид от ученика или гостя)
            li
              a(href="student-login.html") Профиль ученика (вид от репетитора, ученик без рейтинга)
          h4 Диалоги
          ol
            li
              a(href="chat-empty.html") Диалоги (пустые)
            li
              a(href="chat-student.html") Диалоги (вид от ученика)
            li
              a(href="chat-tutor.html") Диалоги (вид от репетитора)
          h4 Личный кабинет репетитора
          ol
            li
              a(href="lk-tutor-edit.html") ЛК репетитора, редактирование профиля
            li
              a(href="lk-tutor-edit-empty.html") ЛК репетитора, редактирование профиля (без фото и соц. сетей)
            li
              a(href="lk-tutor-schedule.html") ЛК репетитора, расписание
            li
              a(href="lk-tutor-applications.html") ЛК репетитора, заявки (новые)
            li
              a(href="lk-tutor-applications-accepted.html") ЛК репетитора, заявки (подтвержденные)
            li
              a(href="lk-tutor-applications-declined.html") ЛК репетитора, заявки (отклоненные)
          h4 Личный кабинет ученика
          ol
            li
              a(href="lk-student-edit.html") ЛК ученика, редактирование профиля
            li
              a(href="lk-student-applications.html") ЛК ученика, заявки
            li
              a(href="lk-student-applications-accepted.html") ЛК ученика, заявки (подтвержденные)
            li
              a(href="lk-student-applications-paid.html") ЛК ученика, заявки (оплаченные)
            li
              a(href="lk-student-applications-declined.html") ЛК ученика, заявки (отклоненные)
          h4 Пополнение баланса
          ol
            li
              a(href="replenishment.html") Пополнение баланса
            li
              a(href="replenishment-success.html") Успешное пополнение баланса
          h4 Прочие страницы
          ol
            li
              a(href="support.html") Тех. поддержка
            li
              a(href="subjects.html") Все предметы
            li
              a(href="help.html") Помощь
            li
              a(href="faq.html") Вопрос - ответ
            li
              a(href="policy.html") Политика конфиденциальности
          h4 Технические страницы
          ol
            li
              a(href="service.html") Техническое обслуживание
            li
              a(href="notfound.html") Страница не найдена