include ../components/header/header
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Разводящая страница | LetMeTutor
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      section.container
        .wrapper
          h1(style="margin-bottom: 20px;") LetMeTutor
          ol(style="margin-left: 20px;")
            li
              a(href="login.html") Авторизация
            li
              a(href="signup.html") Регистрация
            li
              a(href="main.html") Главная
            li
              a(href="main-login.html") Главная (пользователь авторизован)