include ../components/header/header
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Разводящая страница | LetMeTutor
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      section.container
        .wrapper(style="padding-top: 100px;")
          h1(style="margin-bottom: 20px;") LetMeTutor
          ol(style="margin-left: 20px;")
            li
              a(href="main.html") Главная