include ../components/header/header
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Разводящая страница | LetMeTutor
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      section.container
        .wrapper
          h1(style="margin-bottom: 20px;") LetMeTutor
          ol(style="margin-left: 20px; line-height: 1.5;")
            li
              a(href="login.html") Авторизация
            li
              a(href="signup.html") Регистрация
            li
              a(href="signup-success.html") Завершение регистрации
            li
              a(href="main.html") Главная
            li
              a(href="main-login.html") Главная (пользователь авторизован)
            li
              a(href="support.html") Тех. поддержка
            li
              a(href="subjects.html") Все предметы
            li
              a(href="catalog.html") Каталог репетиторов
            li
              a(href="catalog-login.html") Каталог репетиторов (пользователь авторизован)
            li
              a(href="catalog-not-found.html") Каталог репетиторов (ничего не найдено)
            li
              a(href="tutor.html") Профиль репетитора
            li
              a(href="tutor-login.html") Профиль репетитора (пользователь авторизован, репетитор без рейтинга)
            li
              a(href="tutor-payed.html") Профиль репетитора (после оплаты занятия)
            li
              a(href="student.html") Профиль ученика (вид от ученика или гостя)
            li
              a(href="student-login.html") Профиль ученика (вид от репетитора, ученик без рейтинга)
            li
              a(href="help.html") Помощь
            li
              a(href="faq.html") Вопрос - ответ
            li
              a(href="policy.html") Политика конфиденциальности
            li
              a(href="service.html") Техническое обслуживание
            li
              a(href="notfound.html") Страница не найдена