include ../components/cookies/cookies
include ../components/header/header
include ../components/static/static
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Политика конфиденциальности | LetMeTutor
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header
      +static('policy')
      +footer
      +cookies