include ../components/service/service

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Техническое обслуживание | LetMeTutor
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +service