.action
  background-color: $gray-2
  padding: 60px 0
  &__wrapper
    display: flex
    flex-direction: column
    align-items: center
  &__title
    margin-bottom: 25px
    text-align: center
    font:
      size: 22px
      weight: 700
  &__group
    display: flex
    justify-content: center
    align-items: center
  &__or
    margin: 0 20px


@media only screen and (max-width: $mobile)
  .action
    padding: 40px 0
    &__title
      margin-bottom: 15px
      font-size: 18px
    &__group
      flex-direction: column
    &__or
      margin: 10px 0