mixin banner
  .banner(style="background-image: url('img/inhtml/header-banner-bg.png'), linear-gradient(180deg, #FECD08 0%, #F2C94C 100%)")
    img.banner__img(src="img/inhtml/banner-img.svg", alt="", style="width: 94px; margin-top: 7px")
    p.banner__title Мы запустили YouDo Бизнес — сервис для работы компаний с самозанятыми.
    .banner__close