mixin profile-experience
  .profile-experience
    p.profile-experience__heading Опыт работы по предметам
    .profile-experience__item
      .profile-experience__subject
        p.profile-experience__subject-name Английский язык
        p.profile-experience__subject-years 2016 — 2021
      .profile-experience__company
        p.profile-experience__company-name Happy english Company
        p.profile-experience__company-position преподаватель английского
    .profile-experience__item
      .profile-experience__subject
        p.profile-experience__subject-name Французский язык
        p.profile-experience__subject-years 2010 — 2016
      .profile-experience__company
        p.profile-experience__company-name French Company
        p.profile-experience__company-position преподаватель французского
    .profile-experience__item
      .profile-experience__subject
        p.profile-experience__subject-name Итальянский язык
        p.profile-experience__subject-years 2008 — 2010
      .profile-experience__company
        p.profile-experience__company-name Italian Company
        p.profile-experience__company-position преподаватель итальянского