include _og

//- константы для OpenGraph
-const TITLE = "LetMeTutor"
-const URL = ""
-const IMAGE = ""
-const DESCRIPTION = ""

//- Кодировка
meta(charset="UTF-8")

//- Тег viewport
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

//- Краткое описание веб-страницы
meta(name="description", content="Платформа для репетиторов и учеников")

//- Ключевые слова (через запятую)
meta(name="keywords", content="letmetutor, let, me, tutor, репетитор, репетиторство")

//- Цвет темы веб-приложения
meta(name="theme-color", content="#152764")

//- Авторский права
meta(name="copyright", content="nmihalyov.tk")

//- Теги веб-приложения для Apple (и не только)
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="#152764")
meta(name="apple-mobile-web-app-title", content="LetMeTutor")

//- Теги веб-приложения для Windows
meta(name="msapplication-TileImage", content="img/favicons/144x144.png")
meta(name="msapplication-TileColor", content="#152764")

//- Отключение отображения номера как ссылки
meta(name="format-detection", content="telephone=no")

+open-graph(TITLE, URL, IMAGE, DESCRIPTION)