mixin profile-reviews(empty)
  .profile-reviews
    p.profile-reviews__heading Отзывы о репетиторе
    .profile-reviews__rating
      .profile-reviews__rating-about
        if empty
          p.profile-reviews__rating-value 0.0
        else
          p.profile-reviews__rating-value 4.9
        .profile-reviews__rating-stars
          .profile-reviews__rating-star.profile-reviews__rating-star--full
          .profile-reviews__rating-star.profile-reviews__rating-star--full
          .profile-reviews__rating-star.profile-reviews__rating-star--full
          .profile-reviews__rating-star.profile-reviews__rating-star--full
          .profile-reviews__rating-star.profile-reviews__rating-star--full
        if empty
          p.profile-reviews__rating-count 0 отзывов
        else
          p.profile-reviews__rating-count На основании 50 отзывов
      .profile-reviews__rating-data
        if empty
          .profile-reviews__rating-item
            p.profile-reviews__rating-rate 5
            .profile-reviews__rating-scale
              .profile-reviews__rating-scale-inner
            p.profile-reviews__rating-count (0)
        else
          .profile-reviews__rating-item
            p.profile-reviews__rating-rate 5
            .profile-reviews__rating-scale
              .profile-reviews__rating-scale-inner(style="width: 98%")
            p.profile-reviews__rating-count (49)
        .profile-reviews__rating-item
          p.profile-reviews__rating-rate 4
          .profile-reviews__rating-scale
            .profile-reviews__rating-scale-inner
          p.profile-reviews__rating-count (0)
        .profile-reviews__rating-item
          p.profile-reviews__rating-rate 3
          .profile-reviews__rating-scale
            .profile-reviews__rating-scale-inner
          p.profile-reviews__rating-count (0)
        .profile-reviews__rating-item
          p.profile-reviews__rating-rate 2
          .profile-reviews__rating-scale
            .profile-reviews__rating-scale-inner
          p.profile-reviews__rating-count (0)
        if empty
          .profile-reviews__rating-item
            p.profile-reviews__rating-rate 1
            .profile-reviews__rating-scale
              .profile-reviews__rating-scale-inner
            p.profile-reviews__rating-count (0)
        else
          .profile-reviews__rating-item
            p.profile-reviews__rating-rate 1
            .profile-reviews__rating-scale
              .profile-reviews__rating-scale-inner(style="width: 2%")
            p.profile-reviews__rating-count (1)
    if empty
      .profile-reviews__empty У <b>Анны Ивановой</b> пока еще нет отзывов
    else
      .profile-reviews__feedbacks
        .profile-reviews__feedback
          .profile-reviews__feedback-image
          .profile-reviews__feedback-info
            .profile-reviews__feedback-head
              p.profile-reviews__feedback-name Victoria
              p.profile-reviews__feedback-date 15.07.2021
            .profile-reviews__rating-stars
              .profile-reviews__rating-star.profile-reviews__rating-star--full
              .profile-reviews__rating-star.profile-reviews__rating-star--full
              .profile-reviews__rating-star.profile-reviews__rating-star--full
              .profile-reviews__rating-star.profile-reviews__rating-star--full
              .profile-reviews__rating-star.profile-reviews__rating-star--full
            p.profile-reviews__feedback-text Занимаюсь с Мариной два месяца, английский с нуля. Мне нравится как подаётся материал, очень структурированно, все чётко и очень понятно. Все запоминается и легко раскладывается в голове по полочкам. Видно что преподаватель заинтересована, чтобы ученик довел пройденный материал до автоматизма. Всегда повторяем на уроках пройденный ранее материал. Очень рекомендую Марину как преподавателя.
        .profile-reviews__feedback
          .profile-reviews__feedback-image(style="background-image: url('img/inhtml/tutor-2.jpg')")
          .profile-reviews__feedback-info
            .profile-reviews__feedback-head
              p.profile-reviews__feedback-name Анна
              p.profile-reviews__feedback-date 15.07.2021
            .profile-reviews__rating-stars
              .profile-reviews__rating-star.profile-reviews__rating-star--full
              .profile-reviews__rating-star
              .profile-reviews__rating-star
              .profile-reviews__rating-star
              .profile-reviews__rating-star
            p.profile-reviews__feedback-text Очень расстроена своим опытом работы с этим репетитором, когда в ее календаре выбрано доступное время, я бронирую и оплачиваю урок вместе с ней, но она отменила мой урок, знайте, что время в ее календаре не соответствует действительности. Не рекомендуется.
        .profile-reviews__feedback
          .profile-reviews__feedback-image(style="background-image: url('img/inhtml/tutor-3.jpg')")
          .profile-reviews__feedback-info
            .profile-reviews__feedback-head
              p.profile-reviews__feedback-name Виктория
              p.profile-reviews__feedback-date 15.07.2021
            .profile-reviews__rating-stars
              .profile-reviews__rating-star.profile-reviews__rating-star--full
              .profile-reviews__rating-star.profile-reviews__rating-star--full
              .profile-reviews__rating-star.profile-reviews__rating-star--full
              .profile-reviews__rating-star.profile-reviews__rating-star--full
              .profile-reviews__rating-star.profile-reviews__rating-star--full
            p.profile-reviews__feedback-text Марина - очень хороший репетитор! Мы занимаемся примерно пол года, и за это время она зарекомендовала себя как настоящий профессионал. Одним из отличительных моментов, на мой взгляд, это то, что Марина переодически спрашивает пройденный материал, таким образом стимулируя повторять и не забывать изученное, что сказывается положительно на практике. Спасибо!
      +button('secondary', 'button', 'Больше отзывов', 'profile-reviews__btn')