mixin notfound
  section.notfound.container
    .notfound__wrapper.wrapper
      .notfound__image
        .notfound__gear(data-gear="1")
        .notfound__gear(data-gear="2")
        .notfound__main
        .notfound__hands
        .notfound__num
      .notfound__info
        p.notfound__info-num 404
        p.notfound__info-heading Упс :( Что-то пошло не так, страница не найдена!
        a.notfound__info-link(href="main.html") Вернуться на главную