mixin header(login)
  header.header.container
    .header__banner(style="background-image: url('img/inhtml/header-banner-bg.png'), linear-gradient(180deg, #FECD08 0%, #F2C94C 100%)")
      img.header__banner-img(src="img/inhtml/banner-img.svg", alt="", style="width: 94px; margin-top: 7px")
      p.header__banner-title Мы запустили YouDo Бизнес — сервис для работы компаний с самозанятыми.
      .header__banner-close
    .header__wrapper.wrapper
      img.header__logo(src="img/logo.svg", alt="LetMeTutor logo")
      nav.header__nav
        a.header__nav-link(href="#") Репетиторы
        a.header__nav-link(href="#") Как это работает
        a.header__nav-link(href="#") Стать репетитором
        .header__nav-link.dropdown.dropdown--arrow Больше
          .header__nav-dropdown.dropdown__menu
            a.dropdown__menu-item(href="#") Вопрос - ответ
            a.dropdown__menu-item(href="#") Помощь
            a.dropdown__menu-item(href="#") Тех. поддержка
            a.dropdown__menu-item(href="#") Правила сервиса
      .header__actions
        .header__nav-link.dropdown.dropdown--arrow 
          p.dropdown__value RU
          .dropdown__menu.dropdown__menu--small
            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UA
            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) EN
        .header__nav-link.dropdown.dropdown--arrow 
          p.dropdown__value RUB
          .dropdown__menu.dropdown__menu--small
            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) USD
            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UAH
        if login
          .header__profile
            .header__profile-notifications.dropdown
              p.header__profile-counter 2
              .header__notifications.dropdown__menu
                p.header__notifications-title.dropdown__menu-item Уведомления
                .header__notifications-item.dropdown__menu-item
                  p.header__notifications-date 03.07.2021
                  p.header__notifications-text Ваши данные подтверждены
                .header__notifications-item.dropdown__menu-item
                  p.header__notifications-date 03.07.2021
                  p.header__notifications-text <b>Осталось только установить пароль</b><br>Чтобы не потерять доступ к вашему аккаунту, рекомендуем вам установить пароль. Сделать это можно в профиле, раздел "Настройки".
            a.header__profile-messages(href="#")
            a.header__profile-wallet(href="#") 1 000 р.
            a.header__profile-pic(style="background-image: url('img/inhtml/profile.png')", href="#")
        else
          a.header__signin(href="javascript:void(0)") Войти / Регистрация
        .header__burger
  .header-menu
    .header-menu__backdrop
    .header-menu__container
      .header-menu__head
        img.header__logo(src="img/logo.svg", alt="LetMeTutor logo")
        .header-menu__close
      .header-menu__content
        nav.header-menu__nav
          a.header-menu__nav-link(href="#") Репетиторы
          a.header-menu__nav-link(href="#") Как это работает
          a.header-menu__nav-link(href="#") Стать репетитором
          a.header-menu__nav-link(href="#") Вопрос - ответ
          a.header-menu__nav-link(href="#") Помощь
          a.header-menu__nav-link(href="#") Тех. поддержка
          a.header-menu__nav-link(href="#") Правила сервиса
        .header-menu__footer
          a.header-menu__support(href="#") Служба поддержки
          .header-menu__contacts
            a.header-menu__phone(href="tel:+380675772532") +380 67 577 25 32
            span.header-menu__workhours Будни: с 6 до 22, выходные: с 8 до 22