include ../banner/banner

mixin header(login)
  +banner
  header.header.container
    .header__wrapper.wrapper
      a(href="main.html")
        img.header__logo(src="img/logo.svg", alt="LetMeTutor logo")
      nav.header__nav
        a.header__nav-link(href="catalog.html") Репетиторы
        a.header__nav-link(href="main.html") Как это работает
        a.header__nav-link(href="signup.html") Стать репетитором
        .header__nav-link.dropdown.dropdown--arrow Больше
          .header__nav-dropdown.dropdown__menu
            a.dropdown__menu-item(href="#") Вопрос - ответ
            a.dropdown__menu-item(href="#") Помощь
            a.dropdown__menu-item(href="support.html") Тех. поддержка
            a.dropdown__menu-item(href="#") Правила сервиса
      .header__actions
        .header__nav-link.dropdown.dropdown--arrow 
          p.dropdown__value RU
          .dropdown__menu.dropdown__menu--small
            a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) RU
            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UA
            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) EN
        .header__nav-link.dropdown.dropdown--arrow 
          p.dropdown__value RUB
          .dropdown__menu.dropdown__menu--small
            a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) RUB
            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) USD
            a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UAH
        if login
          .header__profile
            .header__profile-notifications.dropdown
              p.header__profile-counter 3
              .header__notifications.dropdown__menu
                p.header__notifications-title.dropdown__menu-item Уведомления
                .header__notifications-wrapper
                  .header__notifications-item
                    p.header__notifications-date 03.07.2021
                    p.header__notifications-text Ваши данные подтверждены
                  .header__notifications-item
                    p.header__notifications-date 03.07.2021
                    p.header__notifications-text <b>Осталось только установить пароль</b><br>Чтобы не потерять доступ к вашему аккаунту, рекомендуем вам установить пароль. Сделать это можно в профиле, раздел "Настройки".
                  .header__notifications-item
                    p.header__notifications-date 03.07.2021
                    p.header__notifications-text Вы успешно зарегистрировались в сервисе!
            a.header__profile-messages(href="#")
            a.header__profile-wallet(href="#") 1 000 &#8381;
            a.header__profile-pic(style="background-image: url('img/inhtml/profile.png')", href="#")
        else
          p.header__signin
            a(href="login.html") Войти
            |&nbsp;/&nbsp;
            a(href="signup.html") Регистрация
        if login
          .header__burger.header__burger--has-notifications
        else
          .header__burger
  .header-menu
    .header-menu__backdrop
    .header-menu__container
      .header-menu__head
        a(href="main.html")
          img.header__logo(src="img/logo.svg", alt="LetMeTutor logo")
        .header-menu__close
      .header-menu__content
        if login
          a.header-menu__profile(href="#")
            .header-menu__profile-pic(style="background-image: url('img/inhtml/profile.png')")
            span.header-menu__profile-name Анастасия
          .header-menu__actions
            .header-menu__notifications.dropdown Уведомления
              p.header-menu__notifications-counter 3
              .header__notifications.dropdown__menu
                p.header__notifications-title Уведомления
                .header__notifications-wrapper
                  .header__notifications-item
                    p.header__notifications-date 03.07.2021
                    p.header__notifications-text Ваши данные подтверждены
                  .header__notifications-item
                    p.header__notifications-date 03.07.2021
                    p.header__notifications-text <b>Осталось только установить пароль</b><br>Чтобы не потерять доступ к вашему аккаунту, рекомендуем вам установить пароль. Сделать это можно в профиле, раздел "Настройки".
                  .header__notifications-item
                    p.header__notifications-date 03.07.2021
                    p.header__notifications-text Вы успешно зарегистрировались в сервисе!                    
            a.header-menu__messages(href="#") Сообщения
            a.header-menu__wallet(href="#") Ваш баланс: <span>1 000 &#8381;</span>
        else
          p.header-menu__signin
            a(href="login.html") Войти
            |&nbsp;/&nbsp;
            a(href="signup.html") Регистрация
        nav.header-menu__nav
          a.header-menu__nav-link(href="catalog.html") Репетиторы
          a.header-menu__nav-link(href="main.html") Как это работает
          a.header-menu__nav-link(href="#") Стать репетитором
          a.header-menu__nav-link(href="#") Вопрос - ответ
          a.header-menu__nav-link(href="#") Помощь
          a.header-menu__nav-link(href="support.html") Тех. поддержка
          a.header-menu__nav-link(href="#") Правила сервиса
        .header-menu__footer
          p.header-menu__support Служба поддержки
          .header-menu__contacts
            a.header-menu__phone(href="tel:+380675772532") +380 67 577 25 32
            span.header-menu__workhours Будни: с 6 до 22, выходные: с 8 до 22